body {
    background-color: rgb(242, 242, 242);
    font-family: "Raleway";
}

#brand {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

a {
    text-decoration: none;
}

button {
    display:block;
    margin-bottom: 5px;
    background-color: rgb(27, 160, 225);
    width:198px; height: 27px;
    color: white;
    text-align: left;
    font-family: Raleway;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 99, 146);
}

button:active {
    background-color: rgb(39, 73, 109);
}

h1.bar {
    color: white;
    margin-left: 15px;
    font-family: Raleway;
}
header {
    display: flex;
    padding: 20px;
    flex-direction: row;
    background-color: rgb(27, 160, 225);
}
body{
    margin: 0;
}
