body {
    background-color: rgb(242, 242, 242);
}

#brand {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

button {
    display:block;
    background-color: white;
    width:198px; height: 27px;
}
