#brand {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

#first {
  float: left;
  margin-right: 75px;
}

#first div {
  display: flex;
  flex-direction: column;
}

#message {
  margin: 20px;
}

#title {
  margin: auto;
}

#goalInfo {
  align-self: center;
  text-align: center;
  width : 90;
  margin-bottom: 5px;
}

#cashGoalButton {
  margin: 20px;
}

#submitForm {
  margin-top: 20px;
}

body{
    margin: 0;
}

#popup {
    background-color: rgb(242, 242, 242);
    font-family: "Raleway";
    width:200px;
}


a {
    text-decoration: none;
}

button {
    display:block;
    margin-bottom: 5px;
    background-color: rgb(27, 160, 225);
    width:198px; height: 27px;
    color: white;
    text-align: left;
    font-family: Raleway;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 99, 146);
}

button:active {
    background-color: rgb(39, 73, 109);
}

h1.bar {
    color: white;
    margin-left: 15px;
    font-family: Raleway;
}
header {
    display: flex;
    padding: 20px;
    flex-direction: row;
    background-color: rgb(27, 160, 225);
}

h2 {
  font-family: Raleway;
  font-size: 32px;
}

form {
  float: left;
  margin: 20px;
}

input {
  background: white;
  border: solid 1px rgb(52, 99, 146);
  height: 40px;
  width: 300px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

label {
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
