#theFakeBox {
  padding: 20px;
  background-color: #EEEEEE;
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
}

#brand img {
  height: 33.5px;
  weight: 33.5px;
}

#brand {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.click {
  color: rgb(27, 160, 225);
  border: solid 1px rgb(27, 160, 225);
  background: white;
  font-family: Raleway;
  cursor: pointer;
  width:80px; height: 20px;
  text-align: left;
}

.click:hover {
    color: rgb(52, 99, 146);
    border: solid 1px rgb(52, 99, 146);
}

.click:active {
    background-color: rgb(39, 73, 109);
    border: none;
    color: white;
}

.money {
  color: red;
}
